.olay-active {
  overflow: hidden;
}

.olay-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.olay-table {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.olay-cell {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.olay-fade-appear-active,
.olay-fade-appear-active .olay-table,
.olay-fade-enter-active,
.olay-fade-enter-active .olay-table,
.olay-fade-exit-active,
.olay-fade-exit-active .olay-table {
  -webkit-transition: all .25s cubic-bezier(.5, 0, .5, 1);
  -moz-transition: all .25s cubic-bezier(.5, 0, .5, 1);
  -ms-transition: all .25s cubic-bezier(.5, 0, .5, 1);
  -o-transition: all .25s cubic-bezier(.5, 0, .5, 1);
  transition: all .25s cubic-bezier(.5, 0, .5, 1);
}

.olay-fade-appear,
.olay-fade-enter,
.olay-fade-exit.olay-fade-exit-active {
  opacity: 0;
}

.olay-fade-appear.olay-fade-appear-active,
.olay-fade-enter.olay-fade-enter-active,
.olay-fade-exit {
  opacity: 1;
}

.olay-fade-appear .olay-table,
.olay-fade-enter .olay-table,
.olay-fade-exit.olay-fade-exit-active .olay-table {
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
  transform: scale(.95);
}

.olay-fade-appear.olay-fade-appear-active .olay-table,
.olay-fade-enter.olay-fade-enter-active .olay-table,
.olay-fade-exit .olay-table {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
